*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/runConfigurations.xml
.idea/deploymentTargetDropDown.xml
.DS_Store
/build
/captures
.externalNativeBuild

// monash resource files
app/src/main/res/raw/*.gz
